@charset "utf-8";
/*css*/
html { overflow-y: scroll; -webkit-text-size-adjust: 100%; }
html * { -webkit-tap-highlight-color: transparent; -webkit-tap-highlight-color: transparent; }

html, body { font-family: sans-serif; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { margin: 0; padding: 0; }

table { border-collapse: collapse; border-spacing: 0; }

caption, th { text-align: left; }

fieldset, img { border: 0; }

em, i, strong { font-style: normal; }

h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }

ul, ol { list-style: none; }

del { text-decoration: line-through; }

input, button, textarea, select { font-size: 100%; border: none; background: none; }

a, button, input, select, textarea, a:focus, button:focus, input:focus, select:focus, textarea:focus { outline: 0 none; }

a { text-decoration: none; color: #666; }

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

::-webkit-input-placeholder { color: #999; }

::-moz-placeholder { color: #999; }

:-moz-placeholder { color: #999; }

/*css end*/
/* video container */
.videoContainer { position: relative; background: #000; color: #ccc; }

/* video caption css */
.caption { /*display:none;
position:absolute;
top:0;
left:0;
width:100%;
padding:10px;
color:#ccc;
font-size:20px;
font-weight:bold;
box-sizing: border-box;
-ms-box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
background: #1F1F1F; /* fallback */ /*background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);*/ }

/*** VIDEO CONTROLS CSS ***/
/* control holder */
/*.control{
	background:rgba(0,0,0,0.6);
	color:#ccc;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:rem-calc(60);
	z-index:5;
	overflow:hidden;
	/*display:none;*/
/*}
/* control top part */
/*.topControl{
	@include flexboxChild(1);
	height:11px;
	border-bottom:1px solid #404040;
	padding:1px 5px;
	background:#1F1F1F; /* fallback */
	/*background:-moz-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-webkit-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
	background:-o-linear-gradient(top,#242424 50%,#1F1F1F 50%,#171717 100%);
}
/* control bottom part */
/*.btmControl{
	height:rem-calc(60);
	@include flexbox();
}
.control div.btn {
	//float:left;
	width:34px;
	height:30px;
	padding:0 5px;
	border-right:1px solid #404040;
	cursor:pointer;
}
.control div.text{
	font-size:12px;
	font-weight:bold;
	line-height:30px;
	text-align:center;
	font-family:verdana;
	width:20px;
	border:none;
	color:#777;
}
.control div.btnPlay{
	background:url(../images/control.png) no-repeat 0 0;
	border-left:1px solid #404040;
}
.control div.paused{
	background:url(../images/control.png) no-repeat 0 -30px;
}
.control div.btnStop{
	background:url(../images/control.png) no-repeat 0 -60px;
}
.control div.spdText{
	border:none;
	font-size:14px;
	line-height:30px;
	font-style:italic;
}
.control div.selected{
	font-size:15px;
	color:#ccc;
}
.control div.sound{
	background:url(../images/control.png) no-repeat -88px -30px;
	border:none;
	//float:right;
}
.control div.sound2{
	background:url(../images/control.png) no-repeat -88px -60px !important;
}
.control div.muted{
	background:url(../images/control.png) no-repeat -88px 0 !important;
}
.control div.btnFS{
	background:url(../images/control.png) no-repeat -44px 0;
	//float:right;
}
.control div.btnLight{
	background:url(../images/control.png) no-repeat -44px -60px;
	border-left:1px solid #404040;
	float:right;
}
.control div.lighton{
	background:url(../images/control.png) no-repeat -44px -30px !important;
}

/* PROGRESS BAR CSS */
/* Progress bar */
/*.progress {
	width:85%;
	height:10px;
	position:relative;
	float:left;
	cursor:pointer;
	background: #444; /* fallback */
	/*background:-moz-linear-gradient(top,#666,#333);
	background:-webkit-linear-gradient(top,#666,#333);
	background:-o-linear-gradient(top,#666,#333);
	box-shadow:0 2px 3px #333 inset;
	-moz-box-shadow:0 2px 3px #333 inset;
	-webkit-box-shadow:0 2px 3px #333 inset;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.progress span {
	height:100%;
	position:absolute;
	top:0;
	left:0;
	display:block;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.timeBar{
	z-index:10;
	width:0;
	background: #3FB7FC; /* fallback */
	/*background:-moz-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-webkit-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	background:-o-linear-gradient(top,#A0DCFF 50%,#3FB7FC 50%,#16A9FF 100%);
	box-shadow:0 0 1px #fff;
	-moz-box-shadow:0 0 1px #fff;
	-webkit-box-shadow:0 0 1px #fff;
}
.timeBar:after{
	content: '';
	position: absolute;
	width:10px;
	height:10px;
	background-color: red;
	right:10px;
}
.bufferBar{
	z-index:5;
	width:0;
	background: #777;
	background:-moz-linear-gradient(top,#999,#666);
	background:-webkit-linear-gradient(top,#999,#666);
	background:-o-linear-gradient(top,#999,#666);
	box-shadow:2px 0 5px #333;
	-moz-box-shadow:2px 0 5px #333;
	-webkit-box-shadow:2px 0 5px #333;
}
/* time and duration */
/*.time{
	width:15%;
	float:right;
	text-align:center;
	font-size:11px;
	line-height:12px;
}

/* VOLUME BAR CSS */
/* volume bar */
/*.volume{
	position:relative;
	cursor:pointer;
	width:70px;
	height:10px;
	float:right;
	margin-top:10px;
	margin-right:10px;
}
.volumeBar{
	display:block;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:#eee;
	z-index:10;
}*/
.topControl { background: red; color: #FFF; position: absolute; bottom: 0.35714rem; left: 0; width: 100%; height: 1.35714rem; padding: 0.39286rem 0; z-index: 999999999999999; font-size: 0.71429rem; display: -webkit-flex; -webkit-align-items: center; }

.btn { position: relative; width: 1.21429rem; height: 1.07143rem; cursor: pointer; }

.btnPlay { margin: 0 0.71429rem 0 0.89286rem; background-image: url(../images/control.png); background-repeat: no-repeat; background-size: 4.71429rem 3.21429rem; background-position: 0 0; }

.paused { margin: 0 0.71429rem 0 0.89286rem; background-image: url(../images/control.png); background-repeat: no-repeat; background-size: 4.71429rem 3.21429rem; background-position: 0 -1.07143rem; }

.sound { margin: 0 0.71429rem; background-image: url(../images/control.png); background-repeat: no-repeat; background-size: 4.71429rem 3.21429rem; background-position: -3.14286rem -1.07143rem; }

.sound2 { margin: 0 0.71429rem; background-image: url(../images/control.png); background-repeat: no-repeat; background-size: 4.71429rem 3.21429rem; background-position: -3.14286rem -2.14286rem !important; }

.muted { background-image: url(../images/control.png); background-repeat: no-repeat; background-size: 4.71429rem 3.21429rem; background-position: -3.14286rem 0 !important; }

.btnFS { margin-right: 0.71429rem; background-image: url(../images/control.png); background-repeat: no-repeat; background-size: 4.71429rem 3.21429rem; background-position: -1.57143rem 0; }

.volume_box { position: absolute; bottom: 1.07143rem; left: 50%; margin-left: -1.03571rem; width: 2.07143rem; height: 6.42857rem; background: rgba(200, 200, 200, 0.6); border-radius: 3px; display: -webkit-flex; -webkit-flex-direction: column; -webkit-align-items: center; }
.volume_box span { display: block; }
.volume_box .volumeT { margin: 0.42857rem 0; }
.volume_box .volumeB { margin: 0.42857rem 0; }

.volume { position: relative; cursor: pointer; width: 0.35714rem; border-radius: 0.35714rem; background: rgba(255, 255, 255, 0.3); -webkit-flex: 1; }

.volumeBar { display: block; width: 0.35714rem; border-radius: 0.35714rem; height: 100%; position: absolute; bottom: 0; left: 0; background-color: #ff7f00; z-index: 10; }
.volumeBar:before { content: ''; position: absolute; z-index: 2; top: -0.25rem; left: 50%; margin-left: -0.25rem; width: 0.5rem; height: 0.5rem; border-radius: 100%; background-color: #ff7f00; }
.volumeBar:after { content: ''; position: absolute; z-index: 1; top: -0.42857rem; left: 50%; margin-left: -0.42857rem; width: 0.85714rem; height: 0.85714rem; border-radius: 100%; background-color: #FFF; }

.time { margin-right: 0.71429rem; }

.progress { height: 0.35714rem; position: relative; cursor: pointer; background: rgba(237, 237, 228, 0.3); -webkit-flex: 1; border-radius: 0.35714rem; }

.progress span { height: 100%; position: absolute; top: 0; left: 0; display: block; border-radius: 0.35714rem; }

.timeBar { z-index: 10; width: 0; background: #FFF; }

.timeBar:after { content: ''; position: absolute; width: 0.89286rem; height: 0.89286rem; background-color: #FFF; right: -0.44643rem; top: -0.26786rem; border-radius: 3.57143rem; }

.bufferBar { z-index: 5; width: 0; background: rgba(237, 237, 228, 0.3); }

/* OTHERS CSS */
/* video screen cover */
.loading, #init { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: url(../images/loading.gif) no-repeat 50% 50%; z-index: 2; display: none; }

#init { background: url(../images/bigplay.png) no-repeat 50% 50% !important; cursor: pointer; }

@media only screen { html { font-size: 12px; } }
@media only screen and (min-width: 360px) and (max-width: 374px) { html { font-size: 14px; } }
@media only screen and (min-width: 375px) and (max-width: 413px) { html { font-size: 14px; } }
@media only screen and (min-width: 414px) and (max-width: 479px) { html { font-size: 16px; } }
@media only screen and (min-width: 480px) and (max-width: 719px) { html { font-size: 18px; } }
@media only screen and (min-width: 720px) { html { font-size: 28px; } }
